<div>
    <h2 translate="logPosterEndpointApp.log.home.title">Logs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="log.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="logPosterEndpointApp.log.home.createLabel">
                        Create new Log
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'logPosterEndpointApp.log.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdTime"><span translate="logPosterEndpointApp.log.createdTime">CreatedTime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="text"><span translate="logPosterEndpointApp.log.text">Text</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="predecessorId"><span translate="logPosterEndpointApp.log.predecessor">predecessor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="successorId"><span translate="logPosterEndpointApp.log.successor">successor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contextId"><span translate="logPosterEndpointApp.log.context">context</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flowId"><span translate="logPosterEndpointApp.log.flow">flow</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="log in vm.logs track by log.id">
                    <td><a ui-sref="log-detail({id:log.id})">{{log.id}}</a></td>
                    <td>{{log.createdTime | date:'medium'}}</td>
                    <td>{{log.text}}</td>
                    <td>
                        <a ui-sref="log-detail({id:log.predecessorId})">{{log.predecessorId}}</a>
                    </td>
                    <td>
                        <a ui-sref="log-detail({id:log.successorId})">{{log.successorId}}</a>
                    </td>
                    <td>
                        <a ui-sref="context-detail({id:log.contextId})">{{log.contextId}}</a>
                    </td>
                    <td>
                        <a ui-sref="flow-detail({id:log.flowId})">{{log.flowId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="log-detail({id:log.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="log.edit({id:log.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="log.delete({id:log.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
